@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

:root {
  --md-primary-fg-color: #F78812;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #90030c;

  --md-text-font-family: 'Balsamiq Sans', cursive;
}
